/*reset styles*/
* {
  color: inherit;
  margin: 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px solid #313131;
}

img {
  max-width: 100%;
}

.footer {
  height: auto;
  text-align: center;
  margin: 2em auto;
  margin-top: 10vh;
  width: 90%;
}

.site_address {
  padding: 2em 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
}