@import "addonMain";

.mainCover {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  -ms-flex-align: center;
  justify-content: center;
}

.hero--section {
  margin: 10vh;
  padding: 4vh;
  border-bottom: 1px solid #c1c1c1;
  text-align: center;
  h1 {
    font-size: 5em;
  }
}

.mycardHead {
  background-color: #219c90;
}

.menu--card-img {
  max-height: 15em;
  object-fit: cover;
}
.submitComment {
  background: #219c90;
  width: 10em;
  padding: 1em;
  border-radius: 3em;
  box-shadow: 1px 1px 1px #c1c1c1;
  font-size: .8em;
  color: #fff;
  cursor: pointer;
}

.contactForm{
  width: auto;
  display: flex;
  flex-direction: column;
  div{ 
    margin-top: .2em;
    display: flex;
    flex-direction: column;
  }
  div.checkbox{ 
    flex-direction: row;
    label{
      margin-left: 1em;
    }
  }


}